In [1]:
from analytics import Analytics
import pandas as pd

calculadora =  Analytics()

In [3]:
print('-------- Rodrigo --------')
res = calculadora.calcular_patrimonio('rodrigo')
print(f"Patrimonio total: {res:,.2f}\n")

print('-------- Dayane --------')
res = calculadora.calcular_patrimonio('dayane')
print(f"Patrimonio total: {res:,.2f}\n")

-------- Rodrigo --------
Real: 42,430.42
Dolar: 2,467.94 (12,074.40)
Ativos Real: 41,334.60
Ativos Dolar: 2,076.60 (10,159.77)
Patrimonio total: 105,999.18

-------- Dayane --------
Real: 12,414.40
Dolar: 435.03 (2,128.38)
Ativos Real: 0.00
Ativos Dolar: 519.15 (2,539.94)
Patrimonio total: 17,082.73

In [4]:
p = calculadora.calcular_patrimonio_reservas(dono='rodrigo')
print(p)

p = calculadora.calcular_patrimonio_reservas(dono='dayane')
print(p)

{'reservas': 32669.3, 'caixa_investimentos': 8806.05, 'robank_dayane': 0.0}
{'reservas': 0.0, 'caixa_investimentos': 0.0, 'robank_dayane': 12414.400000000001}

In [5]:
p = calculadora.calcular_valorizacao_ativos(dono='rodrigo')
p = pd.DataFrame(p)
print(p)

p = calculadora.calcular_valorizacao_ativos(dono='dayane')
p = pd.DataFrame(p)
print(p)

                       CMIG4       MGLU3          MMM        ITUB4  \
price_today        12.220000    2.860000   103.830002    27.629999
quantidade        200.000000  100.000000    20.000000   100.000000
valorizacao         0.048927   -0.185185     0.014758     0.018805
valor_investido  2330.000000  351.000000  2046.400000  2712.000000
preco_medio        11.650000    3.510000   102.320000    27.120000

                       IRBR3         TAEE4         ITSA4        SUZB3  \
price_today        39.200001  1.169000e+01      9.500000    49.450001
quantidade         33.000000  4.000000e+02   1760.000000   100.000000
valorizacao         0.293600 -3.589535e-08      0.060174    -0.007028
valor_investido  1000.000000  4.676000e+03  15771.000000  4980.000000
preco_medio        30.303030  1.169000e+01      8.960795    49.800000

                       TAEE3        BBAS3
price_today        11.630000    47.180000
quantidade        300.000000   100.000000
valorizacao        -0.120937     0.296154
valor_investido  3969.000000  3640.000000
preco_medio        13.230000    36.400000
                        MMM
preco_medio      102.320000
price_today      103.830002
quantidade         5.000000
valor_investido  511.600000
valorizacao        0.014758

In [6]:
p = calculadora.calcular_ativos_proventos(dono='rodrigo')
p = pd.DataFrame(p)
print(p)

p = calculadora.calcular_ativos_proventos(dono='dayane')
p = pd.DataFrame(p)
print(p)

           CMIG4  ITUB4  IRBR3   ITSA4   TAEE3   BBAS3
proventos  46.61  53.32   7.41  316.54  230.56  300.63
Empty DataFrame
Columns: []
Index: []

In [7]:
p = calculadora.calcular_cdi_proventos(dono='rodrigo')
p = pd.DataFrame(p)
print(p)

p = calculadora.calcular_cdi_proventos(dono='dayane')
p = pd.DataFrame(p)
print(p)

            caixa_investimentos  reservas
valor                   8806.05  32669.30
rendimento               235.59    937.54
            robank_dayane
rendimento         234.33
valor            12414.40