In [48]:
import pandas as pd
import b3api
import json

In [24]:
df_cdi = pd.read_csv("CDI.csv")
df_cdi

,fonte,valor,data,dono,tag,tipo_transacao,comentario
0,rodrigo,24807.98,20230416,rodrigo,reservas,entrada,NaN
1,dayane,12480.07,20230416,dayane,robank_dayane,entrada,NaN
2,rodrigo,266.41,20230416,rodrigo,caixa_investimentos,entrada,NaN
3,dayane,-300.00,20230503,dayane,robank_dayane,saida,saque velorio Bruno
4,rendimento,50.70,20230619,dayane,robank_dayane,entrada,rendimento
5,rodrigo,6923.78,20230526,rodrigo,reservas,entrada,deposito
6,rodrigo,3100.00,20230526,rodrigo,caixa_investimentos,entrada,deposito
7,rendimento,454.66,20230619,rodrigo,reservas,entrada,rendimento
8,rodrigo,-3000.00,20230619,rodrigo,caixa_investimentos,saida,compra de dolar
9,rendimento,23.01,20230619,rodrigo,caixa_investimentos,entrada,rendimento

In [25]:
df_moedas = pd.read_csv("moedas.csv")
df_moedas

,fonte,ativo,valor,preco_em_real,custo,tipo_transacao,data,dono,tag
0,rodrigo,dolar,1995.22,4.993,37.86,compra,20230412,rodrigo,NaN
1,dayane,dolar,946.63,5.281,18.93,compra,20221223,dayane,robank_dayane
2,rodrigo,dolar,946.63,5.281,18.93,compra,20221223,rodrigo,NaN
3,rodrigo,dolar,952.53,5.249,18.93,compra,20221107,rodrigo,NaN
4,rodrigo,dolar,619.96,4.820,11.36,compra,20230619,rodrigo,NaN

In [26]:
df_proventos = pd.read_csv("proventos.csv")
df_proventos

,fonte,quantiade,valor,data_negociacao,tipo_de_ordem,IRRF,moeda,dono
0,ITUB4,100,1.50,20230403,juros_de_capital_proprio,0.00,real,rodrigo
1,ITSA4,1760,35.20,20230403,juros_de_capital_proprio,0.00,real,rodrigo
2,BBAS3,100,29.92,20230331,juros_de_capital_proprio,0.00,real,rodrigo
3,ITUB4,100,41.32,20230310,juros_de_capital_proprio,0.00,real,rodrigo
4,ITSA4,1760,210.94,20230310,juros_de_capital_proprio,0.00,real,rodrigo
5,BBAS3,100,0.40,20230303,rendimentos,0.11,real,rodrigo
6,BBAS3,100,0.98,20230303,rendimentos,0.28,real,rodrigo
7,BBAS3,100,48.75,20230303,juros_de_capital_proprio,0.00,real,rodrigo
8,BBAS3,100,23.54,20230303,dividendos,0.00,real,rodrigo
9,ITUB4,100,1.50,20230301,juros_de_capital_proprio,0.00,real,rodrigo
10,IRBR3,0,7.41,20230224,pagamento_de_fracoes,0.00,real,rodrigo
11,ITUB4,100,1.50,20230201,juros_de_capital_proprio,0.00,real,rodrigo
12,TAEE3,300,133.52,20230123,dividendos,0.00,real,rodrigo
13,ITUB4,100,1.50,20230102,juros_de_capital_proprio,0.00,real,rodrigo
14,ITSA4,1760,35.20,20230102,juros_de_capital_proprio,0.00,real,rodrigo
15,BBAS3,100,29.37,20221229,juros_de_capital_proprio,0.00,real,rodrigo
16,TAEE3,300,51.03,20221205,juros_de_capital_proprio,0.00,real,rodrigo
17,TAEE3,300,32.91,20221205,dividendos,0.00,real,rodrigo
18,TAEE3,300,13.10,20221205,dividendos,0.00,real,rodrigo
19,BBAS3,100,53.93,20221130,juros_de_capital_proprio,0.00,real,rodrigo
20,BBAS3,100,17.02,20221130,dividendos,0.00,real,rodrigo
21,ITUB4,100,1.50,20230502,juros_de_capital_proprio,0.00,real,rodrigo
22,ITUB4,100,1.50,20230601,juros_de_capital_proprio,0.00,real,rodrigo
23,BBAS3,100,55.63,20230612,juros_de_capital_proprio,0.00,real,rodrigo
24,BBAS3,100,12.13,20230612,dividendos,0.00,real,rodrigo

In [34]:
df_trades = pd.read_csv("trades.csv")
df_trades

,ativo,quantidade,preco,data_negociacao,tipo_de_ordem,fonte,dono,custo,moeda
0,IRBR3,-967,0.00,20230125,agrupamento,IRBR3,rodrigo,0,real
1,ITSA4,600,8.85,20221111,compra,rodrigo,rodrigo,0,real
2,ITSA4,500,8.85,20221111,compra,rodrigo,rodrigo,0,real
3,ITSA4,60,13.65,20221111,bonus_em_acoes,ITSA4,rodrigo,0,real
4,MGLU3,100,3.51,20221111,compra,rodrigo,rodrigo,0,real
5,ITSA4,400,9.84,20221110,compra,rodrigo,rodrigo,0,real
6,BBAS3,100,36.40,20221110,compra,rodrigo,rodrigo,0,real
7,ITUB4,100,27.12,20221110,compra,rodrigo,rodrigo,0,real
8,ITSA4,200,10.50,20221107,compra,rodrigo,rodrigo,0,real
9,CMIG4,200,11.65,20221107,compra,rodrigo,rodrigo,0,real
10,IRBR3,1000,1.00,20221104,compra,rodrigo,rodrigo,0,real
11,TAEE3,300,13.23,20221103,compra,rodrigo,rodrigo,0,real

In [58]:
def calcular_patrimonio_moeda(dono: str):
    df = df_moedas.copy()
    df = df[df['dono'] == dono]
    df = df[df['ativo'] == 'dolar']
    df = df.sort_values(['data'])
    dolares = df['valor'].sum()

    df_p = df_proventos.copy()
    df_p = df_p[df_p['dono'] == dono]
    proventos_dolar = df_p[df_p['moeda'] == 'dolar'].sum()['valor']
    proventos_real = df_p[df_p['moeda'] == 'real'].sum()['valor']

    return {"dolares": dolares, "proventos_dolar": proventos_dolar, "proventos_real": proventos_real}


def calcular_patrimonio_reservas(dono: str):
    df = df_cdi.copy()
    df = df[df['dono'] == dono]
    df_reservas = df[df['tag'] == 'reservas']
    df_caixa_investimentos = df[df['tag'] == 'caixa_investimentos']
    df_robank_dayane = df[df['tag'] == 'robank_dayane']
    reservas = df_reservas['valor'].sum()
    caixa_investimentos = df_caixa_investimentos['valor'].sum()
    robank_dayane = df_robank_dayane['valor'].sum()

    return {"reservas": reservas, "caixa_investimentos": caixa_investimentos, "robank_dayane": robank_dayane}


def calcular_patrimonio_acoes(dono: str):
    df = df_trades.copy()

    acoes_real = df[df['moeda'] == 'real']
    acoes_real = list(acoes_real['ativo'])
    acoes_real = sorted(set(acoes_real))

    acoes_dolar = df[df['moeda'] == 'dolar']
    acoes_dolar = list(acoes_dolar['ativo'])
    acoes_dolar = sorted(set(acoes_dolar))

    acoes = {"real": {}, "dolar": {}}

    for a in acoes_real:
        df_temp = df[df['ativo'] == a]
        acoes["real"][a] = {"quantidade": df_temp['quantidade'].sum(), "preco_atual": get_preco_acao_b3(ativo=a)}

    for a in acoes_dolar:
        df_temp = df[df['ativo'] == a]
        acoes["dolar"][a] = {"quantidade": df_temp['quantidade'].sum(), "preco_atual": 10}

    return acoes


def calcular_patrimonio():
    patrimonio_moeda = calcular_patrimonio_moeda(dono='rodrigo')
    patrimonio_reserva = calcular_patrimonio_reservas(dono='rodrigo')
    patrimonio_acoes = calcular_patrimonio_acoes(dono='rodrigo')

    real = patrimonio_moeda['proventos_real'] + patrimonio_reserva['reservas'] + patrimonio_reserva['caixa_investimentos']
    dolar = patrimonio_moeda['proventos_dolar'] + patrimonio_moeda['dolares']

    for key, value in patrimonio_acoes['real'].items():
        real = (value['quantidade'] * value['preco_atual']) + real

    for key, value in patrimonio_acoes['dolar'].items():
        dolar = (value['quantidade'] * value['preco_atual']) + dolar

    print(f"Real: {real:,.2f}")
    print(f"Dolar: {dolar:,.2f}")

    return real + (dolar * 5.30)

patrimonio_total = calcular_patrimonio()
print(f"Patrimonio total: {patrimonio_total:,.2f}")

Real: 66,518.34
Dolar: 4,514.34
Patrimonio total: 89,541.47